
.app-container {
    text-align: left;
    margin-top: 80px;
    margin-bottom: 100px;
    color: white;
    max-width:min-content;
    max-height:min-content;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}


.button {
    font-size: 20px;
}


@media screen and (max-width: 767px) { 
    .sky .login{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sky .login h1{
        font-size: 42px;
    }
}