  <!-- Cards -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/Chewbacca.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/Darth Vader.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
            <div class="text-white text-center  align-items-center rgba-black-strong py-5 px-4">
                <br>
                <div>
                    <a class="btn btn-secondary btn-lg" mdbBtn routerLink="/ships" mdbWavesEffect>Choose your ship</a>
                </div>
                <br>
            </div>
                </mdb-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/R2-D2.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
            <mdb-card-img src='../assets/Yoda.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
        <mdb-card-img src='../assets/Obi-Wan.png'></mdb-card-img>
        </mdb-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/green soldier.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/Imperator.png'></mdb-card-img>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
          <mdb-card-img src='../assets/C-3PO.png'></mdb-card-img>
        </mdb-card>
      </div>
    </div>
  </div>

